<!DOCTYPE html>
<html>
    <head>
        <title>Zwitter</title>
    </head>
    <body>
        <header></header>
        <% if flash[:notice] %>
            <div id="notice"><%= flash[:notice] %></div>
        <% end %>
        <%= yield %>

    </body>
</html>
<!-- <!DOCTYPE html>
<html>
<head>
  <title>Zwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html> -->
